header {
    position: sticky;
    top: 0px;
}

.header-top-container {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 85vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.stories-menu {
    display: flex;
    list-style: none;
}

.container-notifications {
    display: none;
}

.recipes-global-container {
    list-style: none;
    padding-left: 0;
}