.header-top-container {
    display: flex;
}

.menu {
    display: flex;
}

.stories-menu {
    display: flex;
}

.container-notifications {
    display: none;
}

#toggle-show {
    display: none;
}

.test_toggle {
    visibility: visible;
}

#toggle:checked ~ * .test_toggle {
    visibility: collapse;
}