.header-top-container {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 80px;
}

.stories-menu {
    display: flex;
    list-style: none;
}

.container-notifications {
    display: none;
}

.recipes-global-container {
    list-style: none;
}