#toggle {
    display: none;
}

.nav_bar {
    display: none;
}

#toggle:checked + .nav_bar {
    display: contents;
    color: aquamarine;
}


#toggle-show {
    display: none;
}

.test_toggle {
    display: none;
}

#toggle-show:checked + .test_toggle {
    display: contents;
    color: aquamarine;

}